

.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background: #fff;
    

    &::before{
        content: "";
        background: #fff;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        // height: 72px;
        // height: 1px;
        // background-color: #000;
        // opacity: .1;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        transition: 0.3s;
    }
    &.on{
        &::before{
            height: 72px;
        }
    }
    
   
    .inner{
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;    
        display: flex;
        align-items: center;
    }

    .logo{
        display: flex;
        align-items: center;
        height: 100%;
        height: 72px;
        @include tablet{
            height: 50px;
        }

        a{display: block;height: 32px;}

        svg{vertical-align: top;height: 100%;
            @include tablet{
                width: 88px;
            }
        }
            
    }

    .nav-area{
        display: flex;
        align-items: center;
        height: 72px;

        @include tablet{
            display: none;
        }
            &.active{height: 137px;}

        .nav-wrap{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            display: flex;

            .nav-list{
                padding: 0 17px;
                line-height: 72px;
                &:hover{font-weight: bold;}
            }
        }
        
        .sub-wrap{
            display: none;
            position: absolute;
            top: 72px;
            left: 0;
            width: 100%;
            height: 64px;
            z-index: 10;
            // display: flex;
            // justify-content: center;
            // opacity: 0;
            // transition: opacity .3s;

            .sub-list{
                display: flex;
                justify-content: center;
                
                .sub-item{
                    margin: 0 15px;
                    flex-shrink: 0;
                    &.active{
                        color: #f00;
                    }
                }
            }
        }

        .family-wrap{
            font-size: 12px;
            a{padding: 0 12px;}
        }

        .lang-wrap{
            font-size: 12px;
            display: flex;
            position: relative;
            
            li:first-child::after{
                content: "";
                position: absolute;
                top: 50%;left: 50%;
                width: 1px;
                height: 10px;
                margin-top: -5px;
                background-color: #d6d7da;
            }

            button{width: 36px;height: 36px;}
        }
    }

    .btn-menu{
        display: none;

        span{
            display: block;
            width: 20px;height: 2px;
            background: #000;

            &:nth-child(2){margin: 2px 0;}
        }

        @include tablet{
            display: block;
        }
    }

    .nav-area2{
        display: none;
        overflow: auto;

        .nav-top{
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;

            .nav-logo{
                svg{height: 25px;}
            }

            .btn-close{
                svg{width: 14px;height: 14px;}
            }
        }

        .side-nav-wrap{
            font-size: 24px;
            font-weight: 700;
            width: 100%;
            border-bottom: 1px solid #ebeef2;

            .side-nav-list{
                line-height: 74px;

                &:not(.nosub){
                    &>a{
                        position: relative;
                        width: 100%;
                        display: block;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        
                        &::after{
                            content: '';
                            border-style: solid;
                            border-color: #373737;
                            border-width: 0px 2px 2px 0px;
                            transform: rotate(45deg);
                            width: 8px;height: 8px;
                            transition: 0.3s
                        }

                        &.on{
                            &::after{
                                transform: rotate(-135deg);
                            }
                        }
                    }
                }
            }

            .s-sub-wrap{
                width: 100%;
                color: #848484;
                font-size: 16px;
                line-height: 15px;
                letter-spacing: -0.5px;
                font-weight: 400;
                display: none;
                margin-left: 24px;
                line-height: 1.75;
            }

            .s-sub-list{
                display: none;

                a{
                    height: 100%;
                    display: block;
                    margin-bottom: 16px;
                }

                .s-sub-item{
                    &:last-child{padding-bottom: 16px;}
                }
            }
        }

        .family-wrap{
            font-size: 16px;
            margin-top: 10px;
            padding-top: 25px;
            overflow: hidden;
            
            a{
                display: block;
                float: left;
                height: 44px;
                margin-right: 24px;
                display: flex;
                align-items: center;

                svg{
                    width: 8px;
                    height: 8px;
                    margin-left: 5px;
                }

                &:nth-child(odd){clear: left;}
                
            }

            .bold{font-weight: 700;}
        }

        .utill-wrap{
            width: 100%;
            margin-top: 35px;
            margin-bottom: 23px;
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: -.02em;

            .utill{
                display: flex;
                color: #a6a7a9;
                
                a{height: 100%;display: block;
                    
                    &+a{margin-left: 32px;}
                }
            }

            .lang{
                display: flex;
                .kr{

                    &::after{
                        content: '';
                        display: inline-block;
                        width: 1px;
                        height: 10px;
                        margin-top: -5px;
                        background-color: #d6d7da;
                        margin-left: 10px;
                    }
                }
                .en{margin-left: 10px;opacity: 0.3;}
            }
        }
        

        @include tablet{
            display: block;
            position: fixed;
            top: 0;right: -100%;
            height: 100%;
            width: 100%;
            background: #fff;
            transition: 0.3s;
            padding: 0 40px;
            box-sizing: border-box;

            &.active{
                right: 0;
            }
        }
    }
}